body{
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #849d8f;
}
a{
	text-decoration: none;
}
.main-navigation a{
	color: #ffffff;
}
.site-navigation,
.site-navigation-sub{
	list-style: none;
}
.site-navigation-item>a{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.site-navigation-item>a:hover{
	color: #333333;
	background-color: #f8f7f4; 
	text-decoration: none;
}
.site-navigation-sub a{
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	background-color: #f8f7f4;
}
.site-navigation-sub a:hover{
	background-color: #fbded7;
}
.site-navigation-sub a:active{
	background-color: #f6b5a5;
}
.menu-item{
	background-color: rgba(248, 247, 244, 0.2);
}
.menu-item:hover{
	color: #323232;
	background-color: rgba(248, 247, 244, 1);
}
.button{
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	border: none;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.button:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.button:active{
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.login-link{
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}
.main-contacts{
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;	
}
.main-contacts b{
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
}


.slider h3{
	font-size: 60px;
	line-height: 60,35px;
	font-weight: normal;
	color: #ffffff;
}
.slider-list-item,
.slider-toggle-list li{
	list-style: none;
}
.button-slider{
	font-size: 32px;
	line-height: 44px;
}
.banners-item{
	list-style: none;
}
.banners-item-raspberry{
	background-color: #570a17;
	background-image: url("../img/banners-raspberry.jpg");
	background-repeat: no-repeat;
}
.banners-item-choco{
	background-color: #3e2418;
	background-image: url("../img/banners-choco.jpg");
	background-repeat: no-repeat;
}
.banners p{
	font-size: 18px;
	line-height: 22px;
}
.banners h3{
	font-size: 35px;
	line-height: 41px;
}
.hits-item{
	list-style: none;
}
.hits-item h3{
	font-size: 16px;
	line-height: 22px;
	text-decoration: underline;
	text-align: center;
}
.hits-item b{
	font-size: 45px;
	line-height: 45px;
}
.hits-item span{
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}
.features{
	color: #323232;
	background-color: #e3dac3;
	background-image: url("../img/features-pattern.jpg");
}
.features h2{
	font-size: 24px;
	line-height: 30px;
}
.features-item{
	list-style: none;
}
.features-item p{
	font-size: 16px;
	line-height: 22px;
}
.blog-news{
	background-color: #ffffff;
	background-image: url("../img/blog-sherbet.jpg");
	background-repeat: no-repeat; 
}
.blog-news p{
	color: #323232;
	font-size: 16px;
	line-height: 22px;
}
.blog-news h3{
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
}
.