body{
	margin: 0;
	padding: 0;

	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #ffffff;

	background-color: #849d8f;
}
a{
	text-decoration: none;
}
.main-navigation a{
	color: #ffffff;
}
.site-navigation,
.site-navigation-sub{
	list-style: none;
}
.site-navigation-current a{
	background-color: #d07058;
}
.site-navigation-item>a{
	color: #ffffff;
	font-weight: bold;
	text-decoration: underline;
}
.site-navigation-item>a:hover{
	color: #333333;
	background-color: #f8f7f4; 
	text-decoration: none;
}
.site-navigation-sub a{
	font-size: 14px;
	line-height: 16px;
	color: #323232;
	background-color: #f8f7f4;
}
.site-navigation-sub a:hover{
	background-color: #fbded7;
}
.site-navigation-sub a:active{
	background-color: #f6b5a5;
}
.form input,
.form-search input{
	padding: 15px;
	color: #999999;
	background-color: #ffffff;
	border: 2px solid #d3d3d2;
	border-radius: 6px;
}
.menu-item{
	background-color: rgba(248, 247, 244, 0.2);
}
.menu-item:hover{
	color: #323232;
	background-color: rgba(248, 247, 244, 1);
}
.menu-cart .menu-item-cart-full{
	color: #323232;
	background-color: #f7f6f3;
}
.menu-cart-sub{
	color: #323232;
	background-color: #f8f7f4;
}
.cart-table-item-text a{
	color: #323232;
}
.cart-table-item-text a:hover,
.cart-table-item-text a:active{
	color: #e84d37;
}
.menu-cart-sub b{
	font-size: 15px;
	line-height: 18px;
}
.cart-table{
	color: #323232;
	font-size: 13px;
	line-height: 16px;
}
.cart-table-item-unit{
	color: #999999;
}

.button{
	font: inherit;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	border: none;
	vertical-align: middle;
	text-align: center;
	text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.button:hover{
	background-image: -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
	box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}
.button:active{
	background-image: -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
	box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.004);
}
.login-link a{
	font-size: 13px;
	line-height: 24px;
	color: #323232;
	text-decoration: underline;
}
.login-link a:hover,
.login-link a:active{
	color: #e84d37;
}
.main-contacts{
	font-size: 14px;
	line-height: 16px;
	color: #ffffff;	
}
.main-contacts b{
	font-size: 22px;
	line-height: 24px;
	color: #ffffff;
}
.bredcrumbs{
	font-size: 14px;
	line-height: 16px;
	list-style: none;
}
.bredcrumbs a{
	text-decoration: underline;
	color: #ffffff;
}
.bredcrumbs a:hover,
.bredcrumbs a:active{
	color: #ffbc9e;
}
.form-filters ul{
	list-style: none;
}
.form-filters legend{
	font-size: 14px;
	line-height: 16px;
}
.form-filters input{
	font-size: 16px;
	font-weight: 18px;
}
.form-filters select{
	color: #ffffff;
	background: none;
	border: none;
}
.form-filters select:hover,
.form-filters select:focus{
	color: #323232;
}
.form-filters option{
	color: #323232;
}
.filters-item{
	border: none;
	border-radius: 36px;
	background-color: rgba(255, 255, 255, 0.2);
}
.button-filters{
	border: 2px solid #ffffff;
	border-radius: 36px;
	background-color: #a6b7ae;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
}
.button-filters:hover{
	color: #323232;
	background-color: #fbfcfb;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
}
.button-filters:active{
	color: #323232;
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	background-color: rgb(237, 237, 237);
	box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.004);
}
.slider h3{
	font-size: 60px;
	line-height: 60px;
	font-weight: normal;
	color: #ffffff;
}
.slider-list-item,
.slider-toggle-list li{
	list-style: none;
}
.button-slider{
	font-size: 32px;
	line-height: 44px;
}
.banners-item{
	list-style: none;
}
.banners-item-raspberry{
	background-color: #570a17;
	background-image: url("../img/banners-raspberry.jpg");
	background-repeat: no-repeat;
}
.banners-item-choco{
	background-color: #3e2418;
	background-image: url("../img/banners-choco.jpg");
	background-repeat: no-repeat;
}
.banners p{
	font-size: 18px;
	line-height: 22px;
}
.banners h3{
	font-size: 35px;
	line-height: 41px;
}
.hits-item{
	list-style: none;
}
.hits-item h3{
	text-decoration: underline;
	text-align: center;
}
.hits-item b{
	font-size: 45px;
	line-height: 45px;
}
.hits-item span{
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
}
.features{
	color: #323232;
	background-color: #e3dac3;
	background-image: url("../img/features-pattern.jpg");
}
.features h2{
	font-size: 24px;
	line-height: 30px;
}
.features-item{
	list-style: none;
}

.blog-news{
	background-color: #ffffff;
	background-image: url("../img/blog-sherbet.jpg");
	background-repeat: no-repeat; 
}
.blog-news p{
	color: #323232;
}
.blog-news h3{
	color: #323232;
	font-size: 24px;
	line-height: 30px;
	text-decoration: underline;
}
.subscribe{
	color: #323232;
	background-color: #f8f7f4;
	background-image: url("../img/subscribe-border.svg");
}
.subscribe-front{
	background-color: #f8f7f4;
}
.subscribe input,
.modal-feedback input,
.modal-feedback textarea{
	padding: 15px;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
	background-color: #ffffff;
	border: 2px solid #d3d3d2;
	border-radius: 6px;
}
.modal-feedback textarea{
	resize: none;
}
.contacts{
	color: #323232;
	font-size: 14px;
	line-height: 20px;
	background-color: #f8f7f4;	
}
.contacts b{
	font-size: 18px;
	line-height: 24px;
}
.pagination-list{
	color: #ffffff;
	list-style: none;
}
.pagination-item-off{
	opacity: 0.2;
}
.pagination-item a{
	color: #ffffff;
}
.pagination-item a:hover{
	background-color: rgba(255, 255, 255, 0.2);
}
.pagination-item a:active{
	color: #323223;
	background-color: rgba(255, 255, 255, 1);
}
.pagination-item-current a:hover{
	background-color: #ffffff;
}
.pagination-item-off a:hover{
	background: none;
}
.pagination-item-current a{
	color: #323232;
	background-color: #f8f7f4;
}
.main-footer{
	color: #ffffff;
	font-size: 13px;
	line-height: 18px;
}
.main-footer a{
	color: #ffffff;
	text-decoration: underline;
}
.main-footer a:hover,
.main-footer a:active{
	color: #ffbc9e;
}
.footer-social ul{
	list-style: none;
}
.footer-link-list{
	list-style: none;
}
.footer-copyright{
	font-size: 12px;
}
.modal-feedback{
	color: #323232;
	background-color: #f8f7f4; 
}
.modal-feedback b{
	font-size: 24px;
	line-height: 28px;
}