body{
    margin: 0;
    padding: 0;

    font-family: 'Roboto', 'Arial', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;

    color: #fff;
    background-color: #849d8f;
}
a{
    text-decoration: none;
}
.visual-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}
.main-header{
	display: flex;
	justify-content: center;
	min-width: 900px;
    max-width: 1200px;
    margin: 0 auto;
}
.container-header{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
    width: 95.5%;
    margin-bottom: 10px;
    padding-right: 2.25%;
    padding-left: 2.25%;
}
.main-navigation{
	width: 100%;
    display: flex;
    justify-content: space-between;
}
.main-navigation a{
    color: #fff;
}
.navigation-container{
	display: flex;
}
.main-logo{
    margin-top: 9px;
}
.site-navigation{
    display: flex;
	
	list-style: none;
    margin-top: 25px;
    margin-bottom: 20px;
    padding: 0;
}
.site-navigation-sub{
	margin: 0;
	padding: 0;
	list-style: none;
}
.site-navigation-current a{
    background-color: #d07058;
}
.site-navigation-item > a{
	margin: 25px;

    font-weight: bold;

    text-decoration: underline;

    color: #fff;
}
.site-navigation-item > a:hover{
    text-decoration: none;

    color: #333;
    background-color: #f8f7f4;
}
.site-navigation-sub a{
    font-size: 14px;
    line-height: 16px;

    color: #323232;
    background-color: #f8f7f4;
}
.site-navigation-sub a:hover{
    background-color: #fbded7;
}
.site-navigation-sub a:active{
    background-color: #f6b5a5;
}
.form input,
.form-search input{
    padding: 15px;

    color: #999;
    border: 1px solid #d3d3d2;
    border-radius: 6px;
    background-color: #fff;
}
.form input:hover,
.form-search input:hover,
.form-feedback textarea:hover{
    border: 2px solid #9a9a9a;
}
.menu-cart,
.menu-login{
	display: flex;
}
.menu-item{
    background-color: rgba(248, 247, 244, 0.2);
    padding: 10px;
    padding-right: 15px;
    padding-left: 15px;
    border-radius: 20px;
    margin: 20px;
    margin-left: 10px;
    margin-right: 0;
}
.menu-item:hover{
    color: #323232;
    background-color: rgba(248, 247, 244, 1);
}
.menu-cart .menu-item-cart-full{
    color: #323232;
    background-color: #f7f6f3;
}
.menu-cart{
	position: relative;
}
.menu-cart-sub{
    color: #323232;
    background-color: #f8f7f4;
	position: absolute;
	min-width: 540px;
	right: 0px;
	top: 65px;
	border-radius: 15px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;

	/*иначе мешает*/
	display: none;
}
.cart-table-item-text a{
    color: #323232;
}
.cart-table-item-text a:hover,
.cart-table-item-text a:active{
    color: #e84d37;
}
.menu-cart-sub b{
    font-size: 15px;
    line-height: 18px;
}
.cart-table{
    font-size: 13px;
    line-height: 16px;
	margin-bottom: 30px;
    color: #323232;
}
.cart-totals{
	margin-bottom: 10px;
}
.cart-table-item-unit{
    color: #999;
}

.button{
	padding: 0;
    font: inherit;
    font-size: 18px;
    line-height: 46px;
	display: inline-block;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 26px;
    text-align: center;
    vertical-align: middle;
	
    color: #fff;
    border: none;
    background-image:    -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:     -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.64);
    text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
}
.button:hover{
    background-image:    -moz-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    background-image:     -ms-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
    box-shadow: 0 2px 2px 0 rgba(172, 16, 0, 0.004);
}
.button:active{
    background-image:    -moz-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    background-image:     -ms-linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
    box-shadow: inset 0 2px 2px 0 rgba(148, 39, 24, 0.004);
}
.login-link a{
    font-size: 13px;
    line-height: 24px;

    text-decoration: underline;

    color: #323232;
}
.login-link a:hover,
.login-link a:active{
    color: #e84d37;
}
.main-contacts{
    font-size: 14px;
    line-height: 16px;

    color: #fff;
}
.main-contacts b{
    font-size: 22px;
    line-height: 24px;

    color: #fff;
}
.bredcrumbs{
    font-size: 14px;
    line-height: 16px;

    list-style: none;
}
.bredcrumbs a{
    text-decoration: underline;

    color: #fff;
}
.bredcrumbs a:hover,
.bredcrumbs a:active{
    color: #ffbc9e;
}
.form-filters ul{
    list-style: none;
}
.form-filters legend{
    font-size: 14px;
    line-height: 16px;
}
.form-filters input{
    font-size: 16px;
    font-weight: 18px;
}
.form-filters select{
    color: #fff;
    border: none;
    background: none;
}
.form-filters select:hover,
.form-filters select:focus{
    color: #323232;
}
.form-filters option{
    color: #323232;
}
.filters-item{
    border: none;
    border-radius: 36px;
    background-color: rgba(255, 255, 255, 0.2);
}
.button-filters{
    border: 2px solid #fff;
    border-radius: 36px;
    background-color: #a6b7ae;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
.button-filters:hover{
    color: #323232;
    background-color: #fbfcfb;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
}
.button-filters:active{
    color: #323232;
    background-color: rgb(237, 237, 237);
    background-image: none;
    box-shadow: none;
    box-shadow: inset 0 2px 1px 0 rgba(105, 105, 105, 0.004);
    text-shadow: none;
}
.slider{
	margin-bottom: 40px;
}
.slider h3{
    font-size: 60px;
    font-weight: normal;
    line-height: 60px;
	text-align: center;
    color: #fff;
    margin-bottom: 25px;
    font-weight: bold;
    width: 690px;
}
.slider-list{
	padding: 0;
	margin: 0;
}
.slider-list-item,
.slider-toggle-list li{
    list-style: none;
}
.slider-list-item{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	min-height: 500px;
	position: relative;
}
.slider-list-item img{
	order: -1;
	position: absolute;
	z-index: -1;
	top: -178px;
}
.slider-list-item-strawberry,
.slider-list-item-lemon{
	display: none;
}
.button-slider{
    font-size: 32px;
    line-height: 64px;
    width: 278px;
    border-radius: 32px;
    font-weight: bold;
}
.slider-toggle-list{
	display: flex;
	padding: 0;
	margin: 0;
	margin-left: 2.25%;
}
.banners{
	width: 95%;
	margin-left: 2.25%;
	margin-right: 2.25%;
	margin-bottom: 35px;
	display: flex;
	flex-direction: : column;
	justify-content: center;
}
.banners-list{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0;
	padding: 0;
}
.banners-item{
	min-width: 420px;
	max-width: 520px;
    list-style: none;
    border-radius: 14px;
    padding: 20px;
    padding-top: 15px;
}
.banners-item:first-child{
	margin-right: 4.5%;
}
.banners-item-raspberry{
    background-color: #570a17;
    background-image: url('../img/banners-raspberry.jpg');
    background-repeat: no-repeat;
}
.banners-item-choco{
    background-color: #3e2418;
    background-image: url('../img/banners-choco.jpg');
    background-repeat: no-repeat;
}
.banners p{
    font-size: 18px;
    line-height: 22px;
}
.banners h3{
	margin: 0;
    font-size: 35px;
    line-height: 41px;
}
.main-container{
	margin: 0 auto;
	max-width: 1200px;
	min-width: 900px;
}
.hits-list{
	width: 95.5%;
	margin: 0 auto;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.hits-item{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    width: 22.25%;
    min-height: 300px;
	position: relative;

}
.hits-item:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.hits-item h3{
    text-align: center;
    text-decoration: underline;
	margin-top: 15px;
	margin-bottom: 15px;
    order: 2;
}
.hits-item b{
	
    font-size: 45px;
    line-height: 45px;
	margin-top: 210px;
}
.hits-item span{
	
    font-size: 30px;
    font-weight: bold;
    line-height: 45px;
}
.hits-item img{
	border-radius: 50%;
	width: 100%;
	height: auto;
	position: absolute;
	order: -1;
	z-index: -1;
}
.hits-item .button{
	order: 3;

	/*что-бы не мешало при составлении сетки*/
	display: none;
}
.features{
	box-sizing: border-box;
    color: #323232;
    background-color: #e3dac3;
    background-image: url('../img/features-pattern.jpg');
	width: 95.5%;
	margin: 0 auto;
	padding: 20px;
	padding-top: 30px;
	border-radius: 15px;
	margin-bottom: 40px;
}
.features h2{
	margin: 0;
    font-size: 24px;
    line-height: 30px;
}
.features-list{
	list-style: none;
	margin: 0;
	padding: 0;
	font-size: 0;
}
.features-item{
	box-sizing: border-box;
	display: inline-block;
	width: 50%;
	padding-left: 60px;
}
.features-item p{
	font-size: 16px;
	margin: 0;
}
.row-container{
	width: 95.5%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-bottom: 40px;
}
.blog-news{
    background-color: #fff;
    background-image: url('../img/blog-sherbet.jpg');
    background-repeat: no-repeat;
	width: 48.5%;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	margin-right: 4.5%;
}
.blog-news p{
    color: #323232; 
    order: -1;
    margin: 0;
}
.blog-news h3{
    font-size: 24px;
    line-height: 30px;
	background-color: rgba(255, 255, 255, 0.8);
    text-decoration: underline;
	width: 300px;
    color: #323232;
}
.subscribe{
    color: #323232;
    background-color: #f8f7f4;
    background-image: url('../img/subscribe-border.svg');
	width: 48.5%;
	border-radius: 15px;
	padding: 6px;
}
.subscribe-front{
	box-sizing: border-box;
    background-color: #f8f7f4;
    border-radius: 15px;
    height: 100%;
    padding: 20px;
}
.subscribe-front p{
	margin: 0;
	margin-bottom: 10px;
}
.form-subscribe{
	display: flex;
}
.form-subscribe .button{

}
.subscribe input,
.modal-feedback input,
.modal-feedback textarea{
    padding: 15px;

    font-size: 16px;
    line-height: 24px;

    color: #999;
    border: 1px solid #d3d3d2;
    border-radius: 6px;
    background-color: #fff;
}
.modal-feedback textarea{
    resize: none;
}
.contacts{
    font-size: 14px;
    line-height: 20px;
	position: relative;
    color: #323232;
}
.contacts b{
    font-size: 18px;
    line-height: 24px;
}
.feedback{
	position: absolute;
	background-color: #f8f7f4;
	top: 80px;
	right: 50px;
	border-radius: 15px;
	padding: 20px;
}
.feedback p{
	margin-top: 0;
}
.pagination-list{
    list-style: none;

    color: #fff;
}
.pagination-item-off{
    opacity: 0.2;
}
.pagination-item a{
    color: #fff;
}
.pagination-item a:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.pagination-item a:active{
    color: #323223;
    background-color: rgba(255, 255, 255, 1);
}
.pagination-item-current a:hover{
    background-color: #fff;
}
.pagination-item-off a:hover{
    background: none;
}
.pagination-item-current a{
    color: #323232;
    background-color: #f8f7f4;
}
.main-footer .container{
	margin: 0 auto;
	width: 95.5%;
	display: flex;
	justify-content: space-between;
}
.main-footer{
    font-size: 13px;
    line-height: 18px;
	max-width: 1200px;
	min-width: 900px;
	margin: 0 auto;
    color: #fff;
}
.main-footer a{
    text-decoration: underline;
    color: #fff;
}
.main-footer a:hover,
.main-footer a:active{
    color: #ffbc9e;
}
.footer-social ul{
	display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-link-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 50px;
}
.footer-link-list li{
	margin-right: 30px;
}
.footer-copyright{
    font-size: 12px;
}
.modal-feedback{
    color: #323232;
    background-color: #f8f7f4;

    display: none;
}
.modal-feedback b{
    font-size: 24px;
    line-height: 28px;
}
